@model WEB_MVC.Models.mvcEmployee

@{
    ViewBag.Title = "AddOrDelete";
}

<h2>AddOrDelete</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.EmpId);
    <div class="form-group">
        @Html.LabelFor(m => m.Name)   
        @Html.TextBoxFor(m => m.Name)  <br />              
        @Html.LabelFor(m => m.Position)
        @Html.TextBoxFor(m => m.Position)<br />
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age)<br />
        @Html.LabelFor(m => m.Salary)
        @Html.TextBoxFor(m => m.Salary)
    </div>
    <div>
        <input type="submit" id="submit" value="Submit" />
    </div>
}

